asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.1
geopandas==1.0.1
idna==3.10
mysqlclient==2.2.5
numpy==2.1.2
packaging==24.2
pandas==2.2.3
pyngrok==7.2.1
pyogrio==0.10.0
pyproj==3.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
setuptools==75.1.0
shapely==2.0.6
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
vue==0.0.1
wheel==0.44.0
