<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>淹水避難系統</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@mapbox/polyline@1.1.1"></script>
    <!-- Layui CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui@2.7.2/dist/css/layui.css">
    <!-- Layui JS -->
    <script src="https://cdn.jsdelivr.net/npm/layui@2.7.2/dist/layui.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/noah_ark_icon.png' %}" sizes="512x512">
</head>
<body>

    <!-- 頂部標題 -->
    <header>
        淹水避難點警示與導引系統
        <button class="flood-report-button" onclick="openFloodReport()">淹水回報</button>
        <button class="flood-report-button" onclick="exportRestrictedAreas()">導出禁行區域</button>
    </header>
    
    <!-- 主區域 -->
    <div class="container">
        
        <!-- 左側資訊欄 -->
        <div class="sidebar">
            <h2>避難所類型篩選</h2>
            <select id="disasterFilter" onchange="filterShelters()">
                <option value="">不限</option>
                <option value="水災">水災</option>
                <option value="風災">風災</option>
                <option value="震災">震災</option>
                <option value="海嘯">海嘯</option>
                <option value="土石流">土石流</option>
            </select>

            <!-- <h2>視角控制</h2>
            <div class="control-buttons">
                <button onclick="resetToStation()">站</button>
                <button onclick="setToCurrentLocation()">目前位置</button>
            </div> -->
            <h2>設定通行範圍</h2>

            <!-- 手動設定範圍按鈕 -->
            <button class="route-plan-button" onclick="toggleRestrictedAreaOptions()">手動設定範圍</button>

            <!-- 手動設定範圍的擴展內容 -->
            <div id="restrictedAreaOptions" style="display: none;">
                <button class="range-plan-button" onclick="startDrawRestrictedArea()">設定禁止通行範圍</button>
                <button class="range-plan-button" onclick="finishRestrictedArea()">完成範圍設定</button>
            </div>

            <!-- 上傳範圍文件 -->
            <button class="route-plan-button" onclick="uploadRestrictedFile()">上傳範圍文件</button>

            <!-- 預測淹水範圍 -->
            <button class="route-plan-button" onclick="predictFloodArea()">預測淹水範圍</button>


            <h2>路徑規劃</h2>
            <div class="route-buttons">
                <button onclick="selectStartPoint()">選擇起點</button>
                <button onclick="selectEndPoint()">選擇終點</button>
            </div>
            <button class="route-plan-button" onclick="planRoute()">規劃路徑</button>
            <button class="route-plan-button" onclick="resetPoints()">重置</button>
            <!--<button class="route-plan-button" onclick="RestrictedAreaByCWA()">中央氣象局測站</button>-->
            <button class="route-plan-button" onclick="navigateToNearestShelter()">前往最近的避難所</button>
        </div>

        <!-- 右側地圖 -->
        <div id="map"></div>
    </div>
    <script>
        const redPinUrl = "{% static 'images/red_pin.png' %}";
        const yellowPinUrl = "{% static 'images/yellow_pin.png' %}";
        const startCursorUrl = "{% static 'images/start_cursor.png' %}";
        const endCursorUrl = "{% static 'images/end_cursor.png' %}";
        const defaultCursor = "";
        const CWB_API_KEY = "{{ CWB_API_KEY }}";
        const ORS_API_KEY = "{{ ORS_API_KEY }}";
        const rainiconUrl = "{% static 'images/drop.png' %}";
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/weather.js' %}"></script>

</body>
</html>
